@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
  --font: 'Trebuchet MS', '华文行楷', '楷体', '黑体-简';
  --code-font: 'Fira Code', '华文行楷', '楷体';
  --slidev-code-padding: 12px;
  --prism-comment-style: normal;
}

html.dark {
  --prism-background: rgb(12, 16, 33);
  --prism-builtin: #db7c84;
  --prism-property: #a0c7e9;
  --prism-keyword: #abd58e;
  --el-text-color-primary: #f8f8f8
}

html.dark img {
  filter: invert(1);
}

html.dark .el-tabs--card>.el-tabs__header .el-tabs__item {
  border-bottom: 0;
}


html, body, #app, #page-root {
  font-family: var(--font);
}

.slidev-layout {
  padding-right: 12rem;
}

.slidev-layout, p {
  line-height: 1.5;
}

pre, code, kbd, samp {
  font-family: var(--code-font);
}

ul, ol {
  margin: 20px 0;
}

ul li {
  font-weight: 500;
  list-style: disclosure-closed;
  margin-top: 10px;
}

.slidev-layout li {
  margin-left: 2em;
}

.slidev-layout ol li {
  margin-left: 2.5em;
}


h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  background-image: linear-gradient(45deg, #19b3c7 0%, #146b8c 25%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: bolder;
}

img {
  display: block;
  max-width: 100%;
  margin: 1em auto;
  zoom: 50%;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

table {
  margin: 1em auto;
  border: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 100%;
}
th {
  text-align: left;
  border-bottom: 1px solid black;
}
.slidev-layout th {
  font-weight: bold;
}
.slidev-layout td, .slidev-layout th {
  padding: .5em;
}
